html,body,div{
    height: 100%;
    width: 100%;
    margin: 0;
}
div{
    height: 100%;
    font-size: 100px;
    position: absolute;
    text-align: center;
    padding-top: 30%;;
}
#c{
    background-color: #acff30;
    animation: c 10s infinite;
    animation-timing-function: linear;
}
#x{
    background-color: #ee4433;
    animation: x 10s infinite;
}
#q{
    background-image: url("../image/2.jpg");
    background-size: 100% 100%;
    animation: q 10s infinite;
}
#d{
    background-color: #1f91ff;
    animation: d 10s infinite;
}
#z{
    display: block;
    font-size: 36px;
    animation: z 10s infinite;
}
@keyframes z {
    0%{opacity: 0}
    70%{opacity: 0}
    80%{opacity: 100}
    90%{opacity: 0}
    100%{opacity: 0}
}
@keyframes c {
    0%{opacity: 0}
    20%{opacity: 100}
    40%{opacity: 0}
    100%{opacity: 0}
}
@keyframes x {
    0%{opacity: 0}
    20%{opacity: 0}
    40%{opacity: 100}
    60%{opacity: 0}
    100%{opacity: 0}
}
@keyframes q {
    0%{opacity: 0}
    40%{opacity: 0}
    60%{opacity: 100}
    80%{opacity: 0}
    100%{opacity: 0}
}
@keyframes d {
    0%{opacity: 0}
    60%{opacity: 0}
    80%{opacity: 100}
    100%{opacity: 0}
}